<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172497733694-5ftae1p450knss07cve6tm9gucg728g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172497733694-5ftae1p450knss07cve6tm9gucg728g7</string>
	<key>API_KEY</key>
	<string>AIzaSyCfq90a68eyTc7OH7gmUPkjuU_bF2k-eew</string>
	<key>GCM_SENDER_ID</key>
	<string>172497733694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoYandex</string>
	<key>PROJECT_ID</key>
	<string>todo-yandex-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-yandex-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172497733694:ios:bf39eff7d18309cf48296f</string>
</dict>
</plist>